@model DAES.Model.SistemaIntegrado.DisolucionCooperativaPosterior
@Html.HiddenFor(model => model.DisolucionCooperativaPosteriorId)
@Html.HiddenFor(model => model.OrganizacionId)

<td>
    @Html.EditorFor(model => model.FechaJuntaSocios, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.FechaJuntaSocios, "", new { @class = "text-danger" })
</td>
<td>
    @Html.EditorFor(model => model.FechaEscrituraPublica, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.FechaEscrituraPublica, "", new { @class = "text-danger" })
</td>
<td>
    @Html.EditorFor(model => model.MinistroDeFe, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.MinistroDeFe, "", new { @class = "text-danger" })
</td>
<td>
    @Html.EditorFor(model => model.FechaPublicacionDiarioOficial, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.FechaPublicacionDiarioOficial, "", new { @class = "text-danger" })
</td>
<td>
    @Html.EditorFor(model => model.NumeroFojas, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.NumeroFojas, "", new { @class = "text-danger" })
</td>
<td>
    @Html.EditorFor(model => model.AñoInscripcion, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.AñoInscripcion, "", new { @class = "text-danger" })
</td>
<td>
    @Html.EditorFor(model => model.DatosCBR, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.DatosCBR, "", new { @class = "text-danger" })
</td>
