
@model DAES.Model.SistemaIntegrado.Organizacion


<table class="table table-hover table-striped datatable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(m => Model.Disolucions.First().FechaJuntaSocios)
            </th>
            <th>
                @Html.DisplayNameFor(m => Model.Disolucions.First().FechaEscrituraPublica)
            </th>
            <th>
                @Html.DisplayNameFor(m => Model.Disolucions.First().MinistroDeFe)
            </th>
            <th>
                @Html.DisplayNameFor(m => Model.Disolucions.First().FechaPublicacionDiarioOficial)
            </th>
            <th>
                @Html.DisplayNameFor(m => Model.Disolucions.First().NumeroFojas)
            </th>
            <th>
                @Html.DisplayNameFor(m => Model.Disolucions.First().AñoInscripcion)
            </th>
            <th>
                @Html.DisplayNameFor(m => Model.Disolucions.First().DatosCBR)
            </th>
        </tr>
    </thead>    
    <tbody>
        @for (var i = 0; i < Model.Disolucions.Count(); i++)
        {
            <tr>
                @Html.EditorFor(m => m.Disolucions[i])
                <td>
                    @Ajax.ActionLink("Eliminar", "DisolucionCooperativaDelete", null, new { Model.Disolucions.ToArray()[i].DisolucionId, Model.Disolucions.ToArray()[i].OrganizacionId }, new AjaxOptions { UpdateTargetId = "disolucion" })
                </td>
            </tr>
            }
    </tbody>
</table>