@model DAES.Model.SistemaIntegrado.Organizacion

<table class="table table-hover table-striped datatable">
    Disolucion Asociacion Gremial
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => Model.DisolucionAsociacionGremials.FirstOrDefault().NumeroOficio)
            </th>
            <th>
                @Html.DisplayNameFor(model => Model.DisolucionAsociacionGremials.FirstOrDefault().FechaOficio)
            </th>
            <th>
                @Html.DisplayNameFor(model => Model.DisolucionAsociacionGremials.FirstOrDefault().FechaAsambleaSocios)
            </th>
            <th>
                @Html.DisplayNameFor(model => Model.DisolucionAsociacionGremials.FirstOrDefault().FechaEscrituraPublica)
            </th>
            <th>
                @Html.DisplayNameFor(model => Model.DisolucionAsociacionGremials.FirstOrDefault().FechaPublicacionDiarioOficial)
            </th>
            <th>
                @Html.DisplayNameFor(model => Model.DisolucionAsociacionGremials.FirstOrDefault().NombreNotaria)
            </th>
            <th>
                @Html.DisplayNameFor(model => Model.DisolucionAsociacionGremials.FirstOrDefault().DatosNotario)
            </th>
        </tr>
    </thead>
    <tbody>
        @for (var i = 0; i < Model.DisolucionAsociacionGremials.Count(); i++)
        {
            <tr>
                @Html.EditorFor(m => m.DisolucionAsociacionGremials[i])
                <td>
                    @Ajax.ActionLink("Eliminar", "DisolucionDelete", null, new { Model.DisolucionAsociacionGremials.ToArray()[i].DisolucionAsociacionGremialId }, new AjaxOptions { UpdateTargetId = "disolucion" })
                </td>
            </tr>
        }
        <tr>
            <th>
                @Html.EditorFor(model => Model.DisolucionAsociacionGremials.FirstOrDefault().NumeroOficio)
            </th>
            <th>
            </th>
            <th>
            </th>
            <th>
            </th>
            <th>
            </th>
            <th>
            </th>
            <th>

            </th>
        </tr>
    </tbody>
</table>
