@model DAES.Model.SistemaIntegrado.Organizacion
@Html.HiddenFor(model => model.OrganizacionId)

@*@if (Model.Disolucions.Count() != 0)
    {*@
@if (Model.TipoOrganizacionId == (int)DAES.Infrastructure.Enum.TipoOrganizacion.AsociacionConsumidores ||
    Model.TipoOrganizacionId == (int)DAES.Infrastructure.Enum.TipoOrganizacion.AsociacionGremial)
{
    #region Asociaciones
    <div>
        <table class="table table-hover table-striped dataTable">
            @for (var i = 0; i < Model.Disolucions.Count(); i++)
            {
            <thead>
                <tr>
                    <th>
                        @Html.LabelFor(m => m.Disolucions[i].NumeroOficio, htmlAttributes: new { @class = "control-label col-md-10" })
                        @Html.EditorFor(m => Model.Disolucions[i].NumeroOficio, new { htmlAttributes = new { @class = "form-control col-md-10" } })
                    </th>
                    <th>
                        @Html.LabelFor(m => m.Disolucions[i].FechaOficio, htmlAttributes: new { @class = "control-label col-md-10" })
                        @Html.EditorFor(m => Model.Disolucions[i].FechaOficio, new { htmlAttributes = new { @class = "form-control col-md-10" } })
                    </th>
                    <th>
                        @Html.LabelFor(m => m.Disolucions[i].FechaAsambleaSocios, htmlAttributes: new { @class = "control-label col-md-10" })
                        @Html.EditorFor(m => Model.Disolucions[i].FechaAsambleaSocios, new { htmlAttributes = new { @class = "form-control col-md-10" } })
                    </th>
                </tr>
                <tr>
                    <th>
                        @Html.LabelFor(m => m.Disolucions[i].FechaEscrituraPublica, htmlAttributes: new { @class = "control-label col-md-10" })
                        @Html.EditorFor(m => Model.Disolucions[i].FechaEscrituraPublica, new { htmlAttributes = new { @class = "form-control col-md-10" } })
                    </th>
                    <th>
                        @Html.LabelFor(m => m.Disolucions[i].FechaPublicacionDiarioOficial, htmlAttributes: new { @class = "control-label col-md-10" })
                        @Html.EditorFor(m => Model.Disolucions[i].FechaPublicacionDiarioOficial, new { htmlAttributes = new { @class = "form-control col-md-10" } })
                    </th>
                    <th>
                        @Html.LabelFor(m => m.Disolucions[i].NombreNotaria, htmlAttributes: new { @class = "control-label col-md-10" })
                        @Html.EditorFor(m => Model.Disolucions[i].NombreNotaria, new { htmlAttributes = new { @class = "form-control col-md-10" } })
                    </th>
                </tr>
                <tr>
                    <th>
                        @Html.LabelFor(m => m.Disolucions[i].DatosNotario, htmlAttributes: new { @class = "control-label col-md-10" })
                        @Html.EditorFor(m => Model.Disolucions[i].DatosNotario, new { htmlAttributes = new { @class = "form-control col-md-10" } })
                    </th>
                    <th>
                        @Html.LabelFor(m => m.Disolucions[i].FechaDisolucion, htmlAttributes: new { @class = "control-label col-md-10" })
                        @Html.EditorFor(m => Model.Disolucions[i].FechaDisolucion, new { htmlAttributes = new { @class = "form-control col-md-10" } })
                    </th>
                    <th></th>
                </tr>
            </thead>
            }
            <tbody>
                @for (var i = 0; i < Model.Disolucions.Count(); i++)
                {
                    @Html.HiddenFor(model => model.Disolucions[i].OrganizacionId)
                    @Html.HiddenFor(model => model.Disolucions[i].DisolucionId)
                    <tr>
                        @*@Html.EditorFor(m => m.Disolucions[i])*@
                        <td>
                            @Ajax.ActionLink("Eliminar", "DisolucionDelete", null, new { Model.Disolucions.ToArray()[i].DisolucionId, Model.Disolucions.ToArray()[i].OrganizacionId }, new AjaxOptions { UpdateTargetId = "disolucion" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    #endregion
}
else
{    
    <div>
        <table>
            @if (Model.FechaDisolucion != null)
            {
                if (Model.FechaDisolucion.Value.Year < 2003)
                {

                    <table class="table dataTable">
                        <tr>
                            <th>
                                <label>¿Disolución previa al año 2003?</label>
                                <input type="checkbox" name="anterior" id="anterior" value="Anterior al 2003" />
                            </th>
                        </tr>
                    </table>
                    for (var i = 0; i < Model.Disolucions.Count(); i++)
                    {
                        <thead>
                            <tr>
                                <th>
                                    @Html.LabelFor(m => Model.Disolucions[i].TipoNorma.Nombre, htmlAttributes: new { @class = "control-label col-md-10" })
                                    @Html.DropDownListFor(model => model.Disolucions[i].TipoNormaId, null, "Seleccione... ", htmlAttributes: new { @class = "form-control col-md-10" })
                                </th>
                                <th>
                                    @Html.LabelFor(m => Model.Disolucions[i].NumeroNorma, htmlAttributes: new { @class = "control-label col-md-10" })
                                    @Html.EditorFor(m => Model.Disolucions[i].NumeroNorma, new { htmlAttributes = new { @class = "form-control col-md-10" } })
                                </th>
                                <th>
                                    @Html.LabelFor(m => Model.Disolucions[i].FechaNorma, htmlAttributes: new { @class = "control-label col-md-10" })
                                    @Html.EditorFor(m => Model.Disolucions[i].FechaNorma, new { htmlAttributes = new { @class = "form-control col-md-10" } })
                                </th>
                            </tr>
                            <tr>
                                <th>
                                    @Html.LabelFor(m => Model.Disolucions[i].FechaPublicacionDiarioOficial, htmlAttributes: new { @class = "control-label col-md-10" })
                                    @Html.EditorFor(m => Model.Disolucions[i].FechaPublicacionDiarioOficial, new { htmlAttributes = new { @class = "form-control col-md-10" } })
                                </th>
                                <th>
                                    @Html.LabelFor(m => Model.Disolucions[i].Autorizacion, htmlAttributes: new { @class = "control-label col-md-10" })
                                    @Html.EditorFor(m => Model.Disolucions[i].Autorizacion, new { htmlAttributes = new { @class = "form-control col-md-10" } })
                                </th>
                                <th>
                                    @Html.LabelFor(m => Model.Disolucions[i].FechaJuntaSocios, htmlAttributes: new { @class = "control-label col-md-10" })
                                    @Html.EditorFor(m => Model.Disolucions[i].FechaJuntaSocios, new { htmlAttributes = new { @class = "form-control col-md-10" } })
                                </th>
                            </tr>
                            <tr>
                                <th>
                                    @Html.LabelFor(m => Model.Disolucions[i].FechaDisolucion, htmlAttributes: new { @class = "control-label col-md-10" })
                                    @Html.EditorFor(m => Model.Disolucions[i].FechaDisolucion, new { htmlAttributes = new { @class = "form-control col-md-10" } })
                                </th>
                                <th>
                                    @Html.LabelFor(m => Model.Disolucions[i].Comision, htmlAttributes: new { @class = "control-label col-md-10" })
                                    @Html.EditorFor(m => Model.Disolucions[i].Comision, new { htmlAttributes = new { @name = "comision", @class = "form-control" } })
                                </th>
                            </tr>
                        </thead>
                    }
                }
                else
                {
                    <table class="table dataTable">
                        <tr>
                            <th>
                                <label>¿Disolución previa al año 2003?</label>
                                <input type="checkbox" name="anterior" id="anterior" value="Anterior al 2003" />
                            </th>
                        </tr>
                    </table>
                    for (var i = 0; i < Model.Disolucions.Count(); i++)
                    {
                        <thead>
                            <tr>
                                <th>
                                    @Html.LabelFor(m => Model.Disolucions[i].FechaJuntaSocios, new { htmlAttributes = new { @class = "control-label col-md-10" } })
                                    @Html.EditorFor(m => Model.Disolucions[i].FechaJuntaSocios, new { htmlAttributes = new { @class = "form-control col-md-10" } })
                                </th>
                                <th>
                                    @Html.LabelFor(m => Model.Disolucions[i].FechaEscrituraPublica, htmlAttributes: new { @class = "control-label col-md-10" })
                                    @Html.EditorFor(m => Model.Disolucions[i].FechaEscrituraPublica, new { htmlAttributes = new { @class = "form-control col-md-10" } })
                                </th>
                                <th>
                                    @Html.LabelFor(m => Model.Disolucions[i].MinistroDeFe, htmlAttributes: new { @class = "control-label col-md-10" })
                                    @Html.EditorFor(m => Model.Disolucions[i].MinistroDeFe, new { htmlAttributes = new { @class = "form-control col-md-10" } })
                                </th>
                            </tr>
                            <tr>
                                <th>
                                    @Html.LabelFor(m => Model.Disolucions[i].FechaPublicacionDiarioOficial, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(m => Model.Disolucions[i].FechaPublicacionDiarioOficial, new { htmlAttributes = new { @class = "form-control col-md-10" } })
                                </th>
                                <th>
                                    @Html.LabelFor(m => Model.Disolucions[i].NumeroFojas, htmlAttributes: new { @class = "control-label col-md-10" })
                                    @Html.EditorFor(m => Model.Disolucions[i].NumeroFojas, new { htmlAttributes = new { @class = "form-control col-md-10" } })
                                </th>
                                <th>
                                    @Html.LabelFor(m => Model.Disolucions[i].AñoInscripcion, htmlAttributes: new { @class = "control-label col-md-10" })
                                    @Html.EditorFor(m => Model.Disolucions[i].AñoInscripcion, new { htmlAttributes = new { @class = "form-control col-md-10" } })
                                </th>
                            </tr>
                            <tr>
                                <th>
                                    @Html.LabelFor(m => Model.Disolucions[i].DatosCBR, htmlAttributes: new { @class = "control-label col-md-10" })
                                    @Html.EditorFor(m => Model.Disolucions[i].DatosCBR, new { htmlAttributes = new { @class = "form-control col-md-10", @type = "textarea" } })
                                </th>
                                <th>
                                    @Html.LabelFor(m => Model.Disolucions[i].FechaDisolucion, htmlAttributes: new { @class = "control-label col-md-10" })
                                    @Html.EditorFor(m => Model.Disolucions[i].FechaDisolucion, new { htmlAttributes = new { @class = "form-control col-md-10" } })
                                </th>
                                <th>
                                    @Html.LabelFor(m => Model.Disolucions[i].Comision, htmlAttributes: new { @class = "control-label col-md-10" })
                                    @Html.EditorFor(m => Model.Disolucions[i].Comision, new { htmlAttributes = new { @name = "comision", @class = "form-control" } })
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                    }
                }
            }
            else
            {
                <table class="table dataTable">
                    <tr>
                        <th>
                            <label>¿Disolución previa al año 2003?</label>
                            <input type="checkbox" name="anterior" id="anterior" value="Anterior al 2003" />
                        </th>
                    </tr>
                </table>
                #region Cooperativa anterior 2003

                <div style="display:none" id="divAnterior" name="divAnterior">
                    <table class="table table-hover table-striped dataTable">
                       @for (var i = 0; i < Model.Disolucions.Count(); i++)
                       {
                            <thead>
                                <tr>
                                    <th>
                                        @Html.LabelFor(m => Model.Disolucions[i].TipoNorma.Nombre, htmlAttributes: new { @class = "control-label col-md-10" })
                                        @Html.DropDownListFor(model => model.Disolucions.FirstOrDefault().TipoNormaId, null, "Seleccione... ", htmlAttributes: new { @class = "form-control col-md-10" })                                        
                                    </th>
                                    <th>
                                        @Html.LabelFor(m => Model.Disolucions[i].NumeroNorma, htmlAttributes: new { @class = "control-label col-md-10" })
                                        @Html.EditorFor(m => Model.Disolucions[i].NumeroNorma, new { htmlAttributes = new { @class = "form-control col-md-10" } })
                                    </th>
                                    <th>
                                        @Html.LabelFor(m => Model.Disolucions[i].FechaNorma, htmlAttributes: new { @class = "control-label col-md-10" })
                                        @Html.EditorFor(m => Model.Disolucions[i].FechaNorma, new { htmlAttributes = new { @class = "form-control col-md-10" } })
                                    </th>
                                </tr>
                                <tr>
                                    <th>
                                        @Html.LabelFor(m => Model.Disolucions[i].FechaPublicacionDiarioOficial, htmlAttributes: new { @class = "control-label col-md-10" })
                                        @Html.EditorFor(m => Model.Disolucions[i].FechaPublicacionDiarioOficial, new { htmlAttributes = new { @class = "form-control col-md-10" } })
                                    </th>
                                    <th>
                                        @Html.LabelFor(m => Model.Disolucions[i].Autorizacion, htmlAttributes: new { @class = "control-label col-md-10" })
                                        @Html.EditorFor(m => Model.Disolucions[i].Autorizacion, new { htmlAttributes = new { @class = "form-control col-md-10" } })
                                    </th>
                                    <th>
                                        @Html.LabelFor(m => Model.Disolucions[i].FechaJuntaSocios, htmlAttributes: new { @class = "control-label col-md-10" })
                                        @Html.EditorFor(m => Model.Disolucions[i].FechaJuntaSocios, new { htmlAttributes = new { @class = "form-control col-md-10" } })
                                    </th>
                                </tr>
                                <tr>
                                    <th>
                                        @Html.LabelFor(m => Model.Disolucions[i].FechaDisolucion, htmlAttributes: new { @class = "control-label col-md-10" })
                                        @Html.EditorFor(m => Model.Disolucions[i].FechaDisolucion, new { htmlAttributes = new { @class = "form-control col-md-10" } })
                                    </th>
                                    <th>
                                        @Html.LabelFor(m => Model.Disolucions[i].Comision, htmlAttributes: new { @class = "control-label col-md-10" })
                                        @Html.EditorFor(m => Model.Disolucions[i].Comision, new { htmlAttributes = new { @name = "comision", @class = "form-control" } })
                                    </th>
                                </tr>
                            </thead>
                       }
                    <tbody>
                        @for (var i = 0; i < Model.Disolucions.Count(); i++)
                        {
                            @Html.HiddenFor(model => model.Disolucions[i].OrganizacionId)
                            @Html.HiddenFor(model => model.Disolucions[i].DisolucionId)
                            <tr>
                                @*@Html.EditorFor(m => m.Disolucions[i])*@
                                <td>
                                    @Ajax.ActionLink("Eliminar", "DisolucionDelete", null, new { Model.Disolucions.ToArray()[i].DisolucionId, Model.Disolucions.ToArray()[i].OrganizacionId }, new AjaxOptions { UpdateTargetId = "disolucion" })
                                </td>
                            </tr>
                        }
                    </tbody>
                    </table>
                </div>

                #endregion

                #region Cooperativa posterior 2003

                <div name="divPosterior" id="divPosterior">
                    <table class="table table-hover table-striped dataTable">
                        @for (var i = 0; i < Model.Disolucions.Count(); i++)
                        {
                            <thead>
                                <tr>
                                    <th>
                                        @Html.LabelFor(m => Model.Disolucions[i].FechaJuntaSocios, new { htmlAttributes = new { @class = "control-label col-md-10" } })
                                        @Html.EditorFor(m => Model.Disolucions[i].FechaJuntaSocios, new { htmlAttributes = new { @class = "form-control col-md-10" } })
                                    </th>
                                    <th>
                                        @Html.LabelFor(m => Model.Disolucions[i].FechaEscrituraPublica, htmlAttributes: new { @class = "control-label col-md-10" })
                                        @Html.EditorFor(m => Model.Disolucions[i].FechaEscrituraPublica, new { htmlAttributes = new { @class = "form-control col-md-10" } })
                                    </th>
                                    <th>
                                        @Html.LabelFor(m => Model.Disolucions[i].MinistroDeFe, htmlAttributes: new { @class = "control-label col-md-10" })
                                        @Html.EditorFor(m => Model.Disolucions[i].MinistroDeFe, new { htmlAttributes = new { @class = "form-control col-md-10" } })
                                    </th>
                                </tr>
                                <tr>
                                    <th>
                                        @Html.LabelFor(m => Model.Disolucions[i].FechaPublicacionDiarioOficial, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(m => Model.Disolucions[i].FechaPublicacionDiarioOficial, new { htmlAttributes = new { @class = "form-control col-md-10" } })
                                    </th>
                                    <th>
                                        @Html.LabelFor(m => Model.Disolucions[i].NumeroFojas, htmlAttributes: new { @class = "control-label col-md-10" })
                                        @Html.EditorFor(m => Model.Disolucions[i].NumeroFojas, new { htmlAttributes = new { @class = "form-control col-md-10" } })
                                    </th>
                                    <th>
                                        @Html.LabelFor(m => Model.Disolucions[i].AñoInscripcion, htmlAttributes: new { @class = "control-label col-md-10" })
                                        @Html.EditorFor(m => Model.Disolucions[i].AñoInscripcion, new { htmlAttributes = new { @class = "form-control col-md-10" } })
                                    </th>
                                </tr>
                                <tr>
                                    <th>
                                        @Html.LabelFor(m => Model.Disolucions[i].DatosCBR, htmlAttributes: new { @class = "control-label col-md-10" })
                                        @Html.EditorFor(m => Model.Disolucions[i].DatosCBR, new { htmlAttributes = new { @class = "form-control col-md-10", @type = "textarea" } })
                                    </th>
                                    <th>
                                        @Html.LabelFor(m => Model.Disolucions[i].FechaDisolucion, htmlAttributes: new { @class = "control-label col-md-10" })
                                        @Html.EditorFor(m => Model.Disolucions[i].FechaDisolucion, new { htmlAttributes = new { @class = "form-control col-md-10" } })
                                    </th>
                                    <th>
                                        @Html.LabelFor(m => Model.Disolucions[i].Comision, htmlAttributes: new { @class = "control-label col-md-10" })
                                        @Html.EditorFor(m => Model.Disolucions[i].Comision, new { htmlAttributes = new { @name = "comision", @class = "form-control" } })
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                        }
                    <tbody>
                        @for (var i = 0; i < Model.Disolucions.Count(); i++)
                        {
                            @Html.HiddenFor(model => model.Disolucions[i].OrganizacionId)
                            @Html.HiddenFor(model => model.Disolucions[i].DisolucionId)
                            <tr>
                                @*@Html.EditorFor(m => m.Disolucions[i])*@
                                <td>
                                    @Ajax.ActionLink("Eliminar", "DisolucionDelete", null, new { Model.Disolucions.ToArray()[i].DisolucionId, Model.Disolucions.ToArray()[i].OrganizacionId }, new AjaxOptions { UpdateTargetId = "disolucion" })
                                </td>
                            </tr>
                        }
                    </tbody>
                    </table>
                </div>
                #endregion
            }
        </table>
    </div>
    <div id="divDirectorio" name="divDirectorio" style="display:none">
        <h4>Comisión Liquidadora</h4>
        <table class="table dataTable">
            <tbody>
                <tr>
                    @for (var i = 0; i < Model.Directorios.Count(); i++)
                    {                        
                        <th>
                            <input type="checkbox" name="directorio[@i]" id="directorio[@i]" class="form-control col-md-10">
                            @Html.DisplayFor(m => Model.Directorios[i].NombreCompleto, new { htmlAttributes = new { @class = "control-label col-md-10" } })
                        </th>
                    }
                </tr>
            </tbody>
        </table>
    </div>
}
@*}*@
<script>
    $(document).ready(function () {
        $("#anterior").change(function () {
            if ($("#anterior").is(':checked')) {
                $("#divAnterior").show();
                $("#divPosterior").hide();
            } else {
                $("#divAnterior").hide();
                $("#divPosterior").show()
            }
        });
    });

    $(document).ready(function () {
        $("#Comision").change(function () {
            if ($("#Comision").is(':checked')) {
                $("#divDirectorio").show();
            } else {
                $("#divDirectorio").hide();
            }
        });
    });
</script>
