
@model DAES.Model.SistemaIntegrado.Organizacion

<table class="table table-hover table-striped datatable">
    Disolucion Cooperativa Posterior al año 2003
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => Model.DisolucionCooperativaPosterior.FirstOrDefault().FechaJuntaSocios)
            </th>
            <th>
                @Html.DisplayNameFor(model => Model.DisolucionCooperativaPosterior.FirstOrDefault().FechaEscrituraPublica)
            </th>
            <th>
                @Html.DisplayNameFor(model => Model.DisolucionCooperativaPosterior.FirstOrDefault().MinistroDeFe)
            </th>
            <th>
                @Html.DisplayNameFor(model => Model.DisolucionCooperativaPosterior.FirstOrDefault().FechaPublicacionDiarioOficial)
            </th>
            <th>
                @Html.DisplayNameFor(model => Model.DisolucionCooperativaPosterior.FirstOrDefault().NumeroFojas)
            </th>
            <th>
                @Html.DisplayNameFor(model => Model.DisolucionCooperativaPosterior.FirstOrDefault().AñoInscripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => Model.DisolucionCooperativaPosterior.FirstOrDefault().DatosCBR)
            </th>
        </tr>
    </thead>
    <tbody>
        @for (var i = 0; i < Model.DisolucionCooperativaPosterior.Count(); i++)
        {
            <tr>
                @Html.EditorFor(m => m.DisolucionCooperativaPosterior[i])
                <td>
                    @Ajax.ActionLink("Eliminar", "DisolucionDelete", null, new { Model.DisolucionCooperativaPosterior.ToArray()[i].DisolucionCooperativaPosteriorId }, new AjaxOptions { UpdateTargetId = "disolucion" })
                </td>
            </tr>
        }
    </tbody>
</table>
