@model DAES.Model.DTO.DTODisolucion

@using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
            }
<div class="form-horizontal">
    @Html.ValidationSummary(true, "",new { @class = "text-danger"})
    <div class="form-group">
        @Html.LabelFor(model => model.FechaAsamblea, new { @class = "font-weight-bold"})
        <div class="col-md-10">
            @Html.DisplayFor(m => m.FechaAsamblea)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => Model.FechaPublicacionDiarioOficial, new {@class = "font-weight-bold"})
        <div class="col-md-10">
            @Html.DisplayFor(m=> Model.FechaPublicacionDiarioOficial)
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10"></div>
    </div>
    <div class="form-group">
        <div class="col-md-10"></div>
    </div>
    <div class="form-group">
        <div class="col-md-10"></div>
    </div>
    <div class="form-group">
        <div class="col-md-10"></div>
    </div>
    <div class="form-group">
        <div class="col-md-10"></div>
    </div>
</div>