@model DAES.Model.DTO.DTODisolucion

<div class="jumbotron">
    <div class="container">
        <h1>Cooperativas</h1>
        <h2></h2>
    </div>
</div>
<div class="container my-3">
    @Html.Partial("_Message")
</div>
@if (Model == null)
{
    return;
}

<div class="container-my-3">
    <div class="row">
        <div class="col">
            <div class="card">
                <h5 class="card-title">Organización</h5>
                <p class="card-title">Modifique los datos de la organización</p>
                <div class="card-body">
                    @Html.LabelFor(model => model.TipoOrganizacion, "Tipo organización", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DisplayFor(m => Model.TipoOrganizacion.Nombre)
                    </div>
                </div>
                <div class="card-body">
                    @Html.LabelFor(model => model.FechaAsamblea, "Fecha Asamblea")
                    <div class="col-md-10">
                        @Html.DisplayFor(m => Model.FechaPublicacionDiarioOficial)@*Fecha no corresponde*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="form-horizontal">
    <div class="form-group">
        <div class="col-md-10"></div>
    </div>
    <div class="form-group">
        <div class="col-md-10"></div>
    </div>
    <div class="form-group">
        <div class="col-md-10"></div>
    </div>
    <div class="form-group">
        <div class="col-md-10"></div>
    </div>
    <div class="form-group">
        <div class="col-md-10"></div>
    </div>
    <div class="form-group">
        <div class="col-md-10"></div>
    </div>
    <div class="form-group">
        <div class="col-md-10"></div>
    </div>
</div>